<div class="navbar bg-primary">
  <div class="navbar-brand">
    <h3>Courses Enrolled</h3>
  </div>
</div>
<br>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item"
      *ngFor="let course of courses">
      <div class="row">
        <div class="col-sm-5"><a routerLink="/table/courses/{{course._id}}/modules">{{course.courseName}}</a></div>
        <div class="col-sm-7"><a class="float-right"
                                 href="/courses/{{course._id}}/quizzes">
          Quizzes
        </a>
        </div>
      </div>
    </li>
  </ul>
</div>



